<div class="wrapper">
    <div class="row">
        <div class="col-8">
            <div class="">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="form"> <i class="fa fa-search"></i> <input type="text"
                            class="form-control form-input" placeholder="Search anything...">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-1">
            <button type="button" class="btn btn-primary notification">
                <img class="icon-notification" src="assets\Vector.png" alt="icon-notification">
            <span class="badge"></span>
            </button>
    </div>   

    <div class="col-2">
        <p class="paragraph-requests">Pedidos</p>
    </div>     
            
    <div class="col-1">
        <button type="button" class="btn btn-primary cart-notification">
            <span class="badge">2</span>
            </button>
    </div>
</div>