<div class="wrapper">
    <div class="row">
        <div class="col-8">
            <div class="">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="form"> <i class="fa fa-search"></i> <input type="text"
                            class="form-control form-input" placeholder="Search anything...">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-4">
        button pedidos button
    </div>
</div>